{{#each expenses as |expense|}}
  <li
    class="list-group-item mx-auto border-0"
    style="width: 600px;margin-bottom:-15px"
  >
    <div class="row">
      <div
        class="col-10 ml-1 mr-4 row d-flex justify-content-between align-items-center"
      >
        <div class="col-9 d-flex justify-content-between align-items-center">
          <p>
            {{this.name}}
          </p>
          <p>
            {{this.merchant}}
          </p>
          <p>
            ${{this.total_amount}}
          </p>
          <p>
            {{this.date_created}}
          </p>
          <p>
            {{this.category_id}}
          </p>
        </div>
      </div>
      <div class="col-1" class="d-flex justify-content-end">
        <form action="api/expenses/{{this.id}}" method="DELETE">
          <button
            class="btn btn-danger text-center"
            type="submit"
            style="width: 50px;"
          ><i class="far fa-trash-alt"></i></button>
        </form>
      </div>
    </div>
  </li>
{{/each}}